<!--INÍCIO DO MENU -->
<div class="col-md-9 col-xs-12">

  <!-- O pipe async vai se inscrever no menu, que é um Observable, vai pegar os itens, vai passar para o ngFor e vai iterar -->
  <mt-menu-item
    *ngFor="let item of menu | async"
    [menuItem]="item"
    (add)="shoppingCart.addItem($event)">
  </mt-menu-item>

</div>
<div class="col-md-3 col-xs-12">
  <!-- CARRINHO -->
  <!-- #shoppingCart é uma template cariable -->
  <mt-shopping-cart #shoppingCart></mt-shopping-cart>
</div>
<!-- FIM DO MENU -->
